@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;

}


.main-header,
.results {
    margin-top: 7rem;


}

.results {
    padding: 5px;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.results-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-text {
    margin-top: 20px;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
    border-style: none;
    transition: 0.3s;
}

.input-text:focus {
    border-radius: 30px;
}


.search-button {
    color: white;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    margin-top: 20px;
    margin-left: 465px;
    background-color: black;
    cursor: pointer;
}

.title {
    color: white;
}