.sidebar {
    background-color: #2C2C2C;
    color: white;
    width: 7%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    width: 100%;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

li p {
    text-align: center;
}