@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('social.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1,
.input {
	color: white;
	display: flex;
	justify-content: center;
	font-weight: 700;

}


.main-header,
.results {
	margin-top: 7rem;


}

.results {
	padding: 5px;
	background: rgba(255, 255, 255, 0.38);
	border-radius: 5px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.4px);
	-webkit-backdrop-filter: blur(3.4px);
}

.results-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.results-head>h5 {
	font-weight: 700;
}

.input-text {
	margin-top: 20px;
	padding: 5px;
	width: 500px;
	border-radius: 10px;
	border-style: none;
	transition: 0.3s;
}

.input-text:focus {
	border-radius: 30px;
}


.search-button {
	color: white;
	padding: 8px;
	border-radius: 50%;
	position: absolute;
	margin-top: 20px;
	margin-left: 465px;
	background-color: #2C2C2C;
	cursor: pointer;
}

.title {
	color: white;
}

.list-group-item {
	background-color: #C4C4C4;
}