
* {
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
}
body {
background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 100px 100px;
background-color: #EC173A;
}
h1, .input {
	display: flex;
	justify-content: center;

}

.main-header, .results {
	margin-top: 7rem;
}

.results-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.input-text {
	padding: 4px;
	border-radius: 30px;
	width: 14.9rem;
}

.search-button{
	color: white;
	padding: 8px;
	border-radius: 50%;
	position: absolute;
	margin-top: 1px;
	margin-left: 200px;
	background-color: black;
	cursor: pointer;
}