.login_area,
.login_area form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login_area {
    color: white;
    background-color: transparent;
    width: 30%;
    height: 100vh;
    padding: 45px;
}

.heading {
    margin-bottom: -5px;
}

.login_title {
    margin-bottom: 15px;
}

input {
    padding: 6px;
    border-style: solid;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-bottom: 8px;
}

.login_button {
    margin-top: 10px;
    padding: 12px;
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    color: white;
}

.login_button:hover {
    background-color: #F47E02;
    color: white;
    border-color: #F47E02;
}